table {
    border-collapse:collapse;
    width:960px;
    margin:0 auto;
    margin-bottom:15px;
  }
  
  td, th {
    text-align:center;
    border:1px solid #666;
    padding:10px 0;
  }
  
  td button {
    border: none;
    border-radius: 5px;
    background-color:#85b6ed;
    width: 50px;
    height: 24px;
    outline: none;
    cursor: pointer;
  }
  
  .title {
    width:960px;
    height:117px;
    line-height:117px;
    font-size:2.5rem;
    text-align:center;
    font-weight:600;
    color:#fff;
    background-color: #97c7fc;
    margin:0 auto;
  }
  
  input {
    width:100%;
    height:20px;
  }
  
  textarea {
    width:100%;
  }
  
  .title-area, .contents-area, .button-area {
    width:960px;
    margin-bottom:5px;
  }
  
  .contents-area {
    margin-bottom:20px;
    height:165px;
  }
  
  .title-area:after, .contents-area:after, .button-area:after {
    display:table;
    content:'';
    clear:both;
  }
  
  .title-area > label, .contents-area > label {
    padding:8px;
  }
  
  .title-area > div, .contents-area > div {
    width:94%;
    position:relative;
    top:6px;
  }
  
  .title-area > label, .title-area > div, .contents-area > label, .contents-area > div {
    float:left;
    text-align:center;
    font-weight:600;
  }
  
  .button-area {
    text-align:center;
  }
  
  .button-area button {
    border:none;
    border-radius:5px;
    background-color:#73a3d9;
    font-weight: 600;
    width: 70px;
    height: 40px;
    font-size: 16px;
    outline:none;
    cursor:pointer;
  }
  
  .toast {
    position:fixed;
    width:50%;
    text-align:center;
    z-index:99;
  }
  
  .toast > span {
    display:inline-block;
    padding:0 10%;
    color:#fff;
    line-height:48px;
    border-radius:27px;
    background:#000;
    opacity:0.7;
  }
  
  .posting {
    text-align: center;
    width:960px;
    height:555px;
    margin:0 auto;
    margin-top:8rem;
    background-color:#eee;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 16%), 3px 3px 6px rgb(0 0 0 / 23%);
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  